<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/product_details.css') }}">
</head>
<body>
    <header>
        <h1>{{ product.name }}</h1>
    </header>
    <div class="product-details">
        <img src="{{ product.img_url }}" alt="{{ product.name }}">
        <div class="product-info">
            <h2>{{ product.name }}</h2>
            <p>Precio: {{ product.product_price }}</p>
            <p>{{ product.description }}</p>
            <p>{{ product.full_description }}</p>
        </div>
    </div>
</body>
</html>
